td{
  width: 250px;
  height: 200px;
  border: 1px solid black;
}

table.devices{
  margin: 10px auto;
}
table.devices img{
  width: 100%;
  height: 100%;
  float: right;
}

.stack-buttons{
    width: 250px;
    height: 220px;
    display: flex;
    flex-direction: column;
}

.stack-buttons button{
    width: 100%;
    height: 100%;
    margin:1px;
}