td{
  width: 250px;
  height: 200px;
  border: 1px solid black;
  transition: 250ms ease-in;
}

td:hover{
  background-color: #ff000044;
}

table.devices{
  margin: 10px auto;
}
table.devices img{
  width: 100%;
  height: 100%;
  float: right;
}

.stack-buttons{
    width: 250px;
    height: 220px;
    display: flex;
    flex-direction: column;
}

h1::first-letter{
  color: green;
  font-size: 5rem;
}
